
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.product-card {
    background: rgb(219, 219, 219);
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: black;
}

.info-group, .input-group {
    margin-bottom: 1.2rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
}


input[type="number"]:focus {
    outline: none;
}

#total-price-display {
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: not-allowed;
}

